<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabriel James Schaefer</title>
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
  </head>
  <body>
    <header>
      <div id="logo">
        <h1>Gabriel James Schaefer</h1>
      </div>
      <nav>
        <h2>Born Friday April 17th, 2015 at 11:17</h2>
		<h2>9 lbs 10 ounces</h2>
      </nav>
    </header>
    <div id="wrapper">
      <section>
        <ul id="gallery">
          <li>
              <%= link_to(image_tag("gabe.jpg", :class => 'img'), gabe_path) %>
              <p>Hat hardly fits this almost 10 pound baby!</p>
          </li>
          <li>
            <a href="img/numbers-02.jpg">
              <%= link_to(image_tag("gabe_and_ben.jpg", :class => 'img'), gabeAndBen_path) %>
              <p>Big Brother Ben holding Gabe for the first time.</p>
            </a>
          </li>
          <li>
            <a href="img/numbers-06.jpg">
               <%= link_to(image_tag("gabe2.jpg", :class => 'img'), gabe2_path) %>
              <p>About half an hour after coming out!</p>
            </a>
          </li>
          <li>
            <a href="img/numbers-09.jpg">
			  <%= link_to(image_tag("gabe_and_ben2.jpg", :class => 'img'), gabeAndBen2_path) %>
              <p>Still likes to hold his little brother.</p>
            </a>
          </li>
          <li>
            <a href="img/numbers-12.jpg">
              <%= link_to(image_tag("gabe3.jpg", :class => 'img'), gabe3_path) %>
              <p>Starting to lose interest.</p>
            </a>
          </li>
		   <li>
            <a href="img/numbers-12.jpg">
				<%= link_to(image_tag("gabe4.jpg", :class => 'img'), gabe4_path) %>
              <p>Here he is full length, 22 inches long!</p>
            </a>
          </li>
		  <li>
            <a href="img/numbers-12.jpg">
				<%= link_to(image_tag("hospital.jpg", :class => 'img'), hospital_path) %>
              <p>That guy looks familiar!</p>
            </a>
          </li>
		  <li>
            <a href="img/numbers-12.jpg">
              <%= link_to(image_tag("steven.jpg", :class => 'img'), steven_path) %>
              <p>It's Steven Hack!</p>
            </a>
          </li>
		  <li>
            <a href="img/numbers-12.jpg">
              <%= link_to(image_tag("affection.jpg", :class => 'img'), affection_path) %>
              <p>Ben likes to give his little brother kisses to get reactions from the crowd.</p>
            </a>
          </li>
        </ul>
      </section>
      <footer>
        <p>Born to Josiah and Hallie Schaefer</p>
      </footer>
    </div>
  </body>
</html>
